.CardsGrid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media only screen and (max-width: 768px) {
  .CardsGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, 1fr);
  }
}
