.gitHubFilterCont {
  transition: all 0.7s ease-in-out;
  display: flex;
  width: 50%;
  flex-direction: column;
}
.FilterContainerCentred {
  margin-left: 25%;
}
.FilterContainerAligned {
  margin-left: 0px;
}
