img {
  max-width: 100%;
  display: block;
}

.repoCard {
  height: 300px;
  cursor: pointer;
}

.userCard {
  height: 400px;
  cursor: pointer;
}
.name {
  text-overflow: ellipsis;
  font-weight: bolder;
  max-width: 80%;
  overflow: auto;
}
.userName {
  text-overflow: ellipsis;
  font-weight: bolder;
  max-width: 80%;
  overflow: auto;
}
.card {
  height: 75%;
  background-color: #fff;
  text-decoration: none;
  box-shadow:
    0 0 0 1px rgba(#000, 0.05),
    0 20px 50px 0 rgba(#000, 0.1);
  border-radius: 15px;
  //   overflow: con;
  padding: 1.25rem;
  position: relative;
  transition: 0.15s ease-in;

  &:hover,
  &:focus-within {
    box-shadow:
      0 0 0 2px #16c79a,
      0 10px 60px 0 rgba(#000, 0.1);
    transform: translatey(-5px);
  }
}
.description {
  height: 30%;
  overflow: scroll;
}
.cardImage {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    border-radius: 50%;
    width: 150px;
  }
}

.cardHeader {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconButton {
  border: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.25rem;
  transition: 0.25s ease;
  box-shadow:
    0 0 0 1px rgba(#000, 0.05),
    0 3px 8px 0 rgba(#000, 0.15);
  z-index: 1;
  cursor: pointer;
  color: #565656;

  svg {
    width: 1em;
    height: 1em;
  }
}

.StarsCount {
  margin-top: 10px;
}

.cardFooter {
  margin-top: 1.25rem;
  border-top: 1px solid #ddd;
  padding-top: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardMeta {
  display: flex;
  align-items: center;
  color: #787878;

  svg {
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
  }
}

@media only screen and (max-width: 768px) {
  .cardMeta:nth-of-type(4) {
    display: none;
  }
}
